---
hide:
    - navigation
    - toc
---
<link rel="stylesheet" href="../assets/icons.css">
<script src="../assets/icons.js"></script>


<div class="gufo-search" id="gufo-search-form">
  <div class="gufo-search-row">
    <label for="gufo-search-input" class="gufo-search-label">Search icons:</label>
    <input
      type="search"
      id="gufo-search-input"
      class="gufo-search-input"
      placeholder="Type to filter icons"
      autocomplete="off"
      autofocus
    >
  </div>

  <div class="gufo-search-row">
    <label for="gufo-search-style" class="gufo-search-label">Choose Status:</label>
    <select
      id="gufo-search-status"
      class="gufo-select"
    >
      <option disabled selected value> -- select status -- </option>
    {% for choice in color_choices %}
      <option value="{{ choice[0] }}">{{ choice[1] }}</option>
    {% endfor %}
    </select>
  </div>
</div>

<div class="icons-empty icons-wrapper" hidden>Not found</div>

{% for group in manifest.icons %}
## {{group}}
  <div class="icons-list icons-wrapper">
  {% for icon in manifest.iter_enabled_icons(group) %}
  <div class="icon">
    <i class="gf {{icon.name}}"></i>
    <div class="title">{{icon.name}}</div>
  </div>
  {% endfor %}
  </div>
{% endfor %}
