---
hide:
    - navigation
    - toc
---
<link rel="stylesheet" href="../assets/icons.css">
<script src="../assets/icons.js"></script>

<div class="gufo-search" id="gufo-search-form">
  <div class="gufo-search-row">
    <label for="gufo-search-input" class="gufo-search-label">Search icons:</label>
    <input
      type="search"
      id="gufo-search-input"
      class="gufo-search-input"
      placeholder="Type to filter icons"
      autocomplete="off"
      autofocus
      data-component="search-input"
    >
  </div>

  <div class="gufo-search-row">
    <select
      data-component="style-select"
      class="gufo-select"
    >
      <option value=""> Default </option>
      <optgroup label="States">
        {% for choice in state_choices %}
          <option value="{{ choice[0] }}">{{ choice[1] }}</option>
        {% endfor %}
      </optgroup>
      <optgroup label="Colors">
        {% for choice in color_choices %}
          <option value="{{ choice[0] }}">{{ choice[1] }}</option>
        {% endfor %}
      </optgroup>
    </select>
  </div>
</div>

<div class="icons-empty icons-wrapper" hidden>Not found</div>

{% for group in manifest.icons %}
## {{ group }} - <span data-group={{ group | lower }}>{{ manifest.iter_enabled_icons(group) | list | length }}</span>
<div class="icons-list icons-wrapper" data-component="icons-list" data-group={{ group | lower }}>
{% for icon in manifest.iter_enabled_icons(group) %}
<div class="icon" 
    data-type="icon"
    data-icon-name="{{ icon.name }}"
    data-icon-code="{{ icon.code }}"
    data-icon-description="{{ icon.description or '' }}"
    data-icon-version="{{ icon.added_in }}"
    data-icon-labels="{{ ','.join(icon.labels or '') }}"
    onclick="showIconDialog(this)">
  <i class="gf {{ icon.name }}" data-type="icon-element"></i>
  <div class="icon-title-label">{{ icon.name }}</div>
</div>
{% endfor %}
</div>
{% endfor %}
<dialog id="gufo-icon-dialog" data-theme="light">
    <div class="dialog-header">
      <div class="dialog-header-text">
        <span class="dialog-title-text"></span>
        <i class="gf copy-o dialog-icons" onclick="copyToClipboard(this)"></i>
      </div>
      <i class="gf xmark-small-s dialog-icons" onclick="closeDialog()"></i>
    </div>
    <div class="dialog-content" tabindex="0" autofocus>
      <div class="dialog-content-icon">
        <i></i>
      </div>
      <div class="dialog-content-info">
        <div class="dialog-content-code-wrapper">
          <div class="dialog-content-code-label">Code:</div>
          <div class="dialog-content-code" style="display: inline-block;"></div>
          <i class="gf copy-o dialog-icons" onclick="copyToClipboard(this)"></i>
          <div class="dialog-content-description"></div>
        </div>
      </div>
      <div class="dialog-content-chips"></div>
    </div>
</dialog>