---
hide:
    - navigation
    - toc
---
<link rel="stylesheet" href="../assets/icons.css">
<script src="../assets/icons.js"></script>


<div class="gufo-search" id="gufo-search-form">
  <div class="gufo-search-row">
    <label for="gufo-search-input" class="gufo-search-label">Search icons:</label>
    <input
      type="search"
      id="gufo-search-input"
      class="gufo-search-input"
      placeholder="Type to filter icons"
      autocomplete="off"
      autofocus
      data-component="search-input"
    >
  </div>

  <div class="gufo-search-row">
    <select
      data-component="style-select"
      class="gufo-select"
    >
      <option value=""> Default </option>
      <optgroup label="States">
        {% for choice in state_choices %}
          <option value="{{ choice[0] }}">{{ choice[1] }}</option>
        {% endfor %}
      </optgroup>
      <optgroup label="Colors">
        {% for choice in color_choices %}
          <option value="{{ choice[0] }}">{{ choice[1] }}</option>
        {% endfor %}
      </optgroup>
    </select>
  </div>
</div>

<div class="icons-empty icons-wrapper" hidden>Not found</div>

{% for group in manifest.icons %}
## {{group}}
  <div class="icons-list icons-wrapper" data-component="icons-list">
  {% for icon in manifest.iter_enabled_icons(group) %}
  <div class="icon" data-type="icon" data-icon-name="{{icon.name}}">
    <i class="gf {{icon.name}}" data-type="icon-element"></i>
    <div class="title">{{icon.name}}</div>
  </div>
  {% endfor %}
  </div>
{% endfor %}
